@using System.Linq
<div class="bx--navigation" id="navigation-menu" data-navigation-menu hidden>
    @foreach(var section in Sections)
    {
        <div class="bx--navigation-section">
            <div class="bx--navigation__category-title">
                <h4>
                    <strong>@(section.Key)</strong>
                </h4>
            </div>
            <ul class="bx--navigation-items">

                @foreach (var item in section.Value)
                {
                    if (item.HasChilds)
                    {
                        <li class="bx--navigation-item">
                            <div class="@(!item.Expanded ? "bx--navigation__category" : "bx--navigation__category bx--navigation__category--expanded")">
                                <button class="bx--navigation__category-toggle" aria-haspopup="true" aria-expanded="@(item.Expanded ? "true" : "false")" aria-controls="category-1-menu" @onclick="(() => item.Expanded = !item.Expanded)">
                                    <div class="bx--navigation__category-title">
                                        @item.DisplayText
                                        <svg aria-hidden="true" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                            <path d="M16 22L6 12l1.414-1.414L16 19.172l8.586-8.586L26 12 16 22z"></path>
                                        </svg>
                                    </div>
                                </button>
                                <ul id="category-1-menu" class="bx--navigation__category-items">
                                    @foreach (var subItem in item.ChildItems)
                                    {
                                        <li class="@(subItem.State ? "bx--navigation__category-item bx--navigation-item--active" : "bx--navigation__category-item")">
                                            <a class="bx--navigation-link" href="@subItem.Link" @onclick="(() => toggleActiveLink(subItem))">
                                                @subItem.DisplayText
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="@(item.State ? "bx--navigation-item bx--navigation-item--active": "bx--navigation-item")">
                            <a class="bx--navigation-link" href="@item.Link">
                                @item.DisplayText
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    }
</div>
@code {
    private SidenavItem _current;

    [Parameter]
    public bool IsHidden { get; set; } = true;

    [Parameter]
    public EventCallback OnFocusOut { get; set; }

    [Parameter]
    public Dictionary<string, SidenavItem[]> Sections { get; set; } 

    private void toggleActiveLink(SidenavItem item)
    {
        if(_current != null)
        {
            _current.State = false;
        }
        item.State = true;
        _current = item;
    }
}

