<!--
  Copyright IBM Corp. 2016, 2018

  This source code is licensed under the Apache-2.0 license found in the
  LICENSE file in the root directory of this source tree.
-->
@inject IJSRuntime js

<nav class="@prefix--header__nav" aria-label="Platform Name" data-header-nav>
    <ul class="@prefix--header__menu-bar" aria-label="Platform Name" role="menubar" style="z-index:10;">
        @if(HeaderNavLinks != null) {
            @foreach (var navlink in HeaderNavLinks)
            {

                @if (navlink.Uri != null)
                {
                    <li class="@prefix--header__menu-item">
                        <a class="@prefix--header__menu-item" href="@(navlink.Uri)" tabindex="0" role="menuitem">
                            <span class="bx--text-truncate--end">
                                  @navlink.Title
                            </span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="@prefix--header__submenu" @onclick="(()=> navlink.Expanded = !navlink.Expanded)" @onmouseover="(()=> navlink.Expanded =  navlink.Expanded ? navlink.Expanded : true)" @onmouseout="(() => navlink.Expanded = false)">
                        <a class="@prefix--header__menu-item @prefix--header__menu-title" aria-haspopup="true"
                           aria-expanded="@(navlink.Expanded ? "true" : "false")" aria-label="@(navlink.Title)" role="menuitem" href="javascript:void(0)" tabindex="0" data-header-submenu >
                            @(navlink.Title)
                            <svg class="@prefix--header__menu-arrow" width="12" height="7" aria-hidden="true">
                                <path d="M6.002 5.55L11.27 0l.726.685L6.003 7 0 .685.726 0z" />
                            </svg>
                        </a>
                        <ul class="@prefix--header__menu" aria-label="@(navlink.Title)" role="menu">
                            @foreach (var item in navlink.ChildItems)
                            {
                                <li role="none">
                                    <a class="@prefix--header__menu-item" href="@(item.Uri)" tabindex="-1">
                                        <span class="@prefix--text-truncate--end">
                                            @(item.Title)
                                        </span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            }
        }
    </ul>
</nav>
@code {

    [Parameter]
    public string prefix { get; set; }

    [Parameter]
    public IEnumerable<HeaderNavLink> HeaderNavLinks { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("InitComponent", "HeaderNav");
        await base.OnAfterRenderAsync(firstRender);
    }
}
