<!--
  Copyright IBM Corp. 2016, 2018

  This source code is licensed under the Apache-2.0 license found in the
  LICENSE file in the root directory of this source tree.
-->
@inject IJSRuntime js
<aside class="@prefix--side-nav@((IsFixed || IsUiFixed) ? $" {prefix}--side-nav--fixed" : "") @(IsUiFixed ? $"{prefix}--side-nav--ux" : "")" data-side-nav>
    <nav class="@prefix--side-nav__navigation" role="navigation" aria-label="Side navigation">
        @*
            <BxSidenavHeader></BxSidenavHeader>
        *@   
        @if(NavigationSections != null)
        {
            @foreach (var section in NavigationSections)
            {
                <ul class="@prefix--side-nav__items" role="menu">
                    @foreach (var navitem in section.NavMenuItems)
                    {
                    @if(navitem.Type == "link")
                    {
                        <li class="@prefix--side-nav__item">
                            <a class="@prefix--side-nav__link" href="@(navitem.Uri)"
                               aria-current="page">
                                <div class="@prefix--side-nav__icon @prefix--side-nav__icon--small">
                                    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true">
                                        <path d="M8.24 25.14L7 26.67a14 14 0 0 0 4.18 2.44l.68-1.88a12 12 0 0 1-3.62-2.09zm-4.05-7.07l-2 .35A13.89 13.89 0 0 0 3.86 23l1.73-1a11.9 11.9 0 0 1-1.4-3.93zm7.63-13.31l-.68-1.88A14 14 0 0 0 7 5.33l1.24 1.53a12 12 0 0 1 3.58-2.1zM5.59 10L3.86 9a13.89 13.89 0 0 0-1.64 4.54l2 .35A11.9 11.9 0 0 1 5.59 10zM16 2v2a12 12 0 0 1 0 24v2a14 14 0 0 0 0-28z" />
                                    </svg>
                                </div>
                                <span class="@prefix--side-nav__link-text">
                                    @navitem.Title
                                </span>
                            </a>
                        </li>
                    }else
                    {
                        <li class="@prefix--side-nav__item">
                            <button class="@prefix--side-nav__submenu" type="button" aria-haspopup="true" aria-expanded="false">
                                <div class="@prefix--side-nav__icon">
                                    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true">
                                        <path d="M8.24 25.14L7 26.67a14 14 0 0 0 4.18 2.44l.68-1.88a12 12 0 0 1-3.62-2.09zm-4.05-7.07l-2 .35A13.89 13.89 0 0 0 3.86 23l1.73-1a11.9 11.9 0 0 1-1.4-3.93zm7.63-13.31l-.68-1.88A14 14 0 0 0 7 5.33l1.24 1.53a12 12 0 0 1 3.58-2.1zM5.59 10L3.86 9a13.89 13.89 0 0 0-1.64 4.54l2 .35A11.9 11.9 0 0 1 5.59 10zM16 2v2a12 12 0 0 1 0 24v2a14 14 0 0 0 0-28z" />
                                    </svg>
                                </div>
                                <span class="@prefix--side-nav__submenu-title">
                                    @navitem.Title
                                </span>
                                <div class="@prefix--side-nav__icon @prefix--side-nav__icon--small @prefix--side-nav__submenu-chevron">
                                    <svg aria-hidden="true" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                        <path d="M16 22L6 12l1.414-1.414L16 19.172l8.586-8.586L26 12 16 22z" />
                                    </svg>
                                </div>
                            </button>
                            <ul class="@prefix--side-nav__menu" role="menu">
                                @foreach (var subitem in navitem.SubMenuItems)
                                {
                                    <li class="@prefix--side-nav__menu-item" role="none">
                                        <a class="@prefix--side-nav__link" href="@(subitem.Uri)" role="menuitem">
                                            <span class="@prefix--side-nav__link-text">
                                                @subitem.Title
                                            </span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                }
                </ul>
            }
        }
            @*<BxSidenavFooter expanded=sidenav.state.expanded></BxSidenavFooter>*@
        </nav>
</aside>

@code {
    [Parameter]
    public string prefix { get; set; }

    [Parameter]
    public bool IsFixed { get; set; }

    [Parameter]
    public bool IsUiFixed { get; set; }

    [Parameter]
    public IEnumerable<NavMenuSection> NavigationSections { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("bxSideNav_Init");
        await base.OnAfterRenderAsync(firstRender);
    }
}
